
ConsoleApp1/bin/Debug/net6.0/Chrome/Win64-115.0.5790.102/chrome-win64/chrome.dll
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.pdb
.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
.vs/ConsoleApp1/v17/.futdcache.v2
.vs/ConsoleApp1/v17/.suo
.vs/ProjectEvaluation/consoleapp1.metadata.v7.bin
.vs/ProjectEvaluation/consoleapp1.projects.v7.bin
ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.dll
ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.pdb
.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
.vs/ConsoleApp1/v17/.suo
ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.dll
ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.dll
